.detail {
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.detail__content h1 {
  margin-top: 10px;
  font-size: 30px;
}

.detail__content .subtitle {
  font-size: 17px;
}

.subtitle span {
  font-size: 14px;
  border: 1px solid #ffffffde;
  padding: 0px 5px;
  border-radius: 4px;
  margin-right: 5px;
  text-transform: capitalize;
}

.detail p {
  font-weight: 300;
  font-size: 17px;
  opacity: 0.8;
}

.overview {
  text-align: justify;
}

.detail__poster {
  width: 266px;
  aspect-ratio: 1 / 1.4;
  object-fit: cover;
  border-radius: 10px;
}

.detail__rating {
  margin-bottom: 10px;
}

.detail__rating i {
  font-size: 18px;
  margin-right: 3px;
}

.spacing {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 30px;
  font-size: 16px;
}

.crumb-home {
  display: flex;
  align-items: center;
  gap: 6px;
}

.breadcrumbs i {
  font-size: 12px;
}

.fa-house {
  color: cadetblue;
}

.breadcrumbs a {
  color: #ffffffde;
  text-transform: capitalize;
  text-decoration: none;
}

.tables {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 40px;
}

.tables table {
  table-layout: fixed;
}

.tables td {
  opacity: 0.8;
  font-size: 17px;
  min-width: max-content;
  vertical-align: top;
}

.tables td:not(:last-child) {
  margin-right: 10px;
  display: inline-block;
}

@media (max-width: 1050px) {
  .detail {
    flex-direction: column;
  }

  .detail__content h1 {
    margin-top: 0px;
  }

  .detail__poster {
    width: 266px;
  }

  .tables {
    flex-direction: column;
    gap: 0;
  }

  .tables td {
    min-width: 110px;
  }
}

@media (max-width: 800px) {
  .detail {
    margin-top: 20px;
    gap: 20px;
  }

  .spacing {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .breadcrumbs {
    margin-top: 10px;
  }
}

@media (max-width: 286px) {
  .detail__poster {
    width: 100%;
  }
}
