.trending-section h1 {
  margin-top: 50px;
  margin-bottom: 5px;
}

.trending-section span {
  display: block;
  height: 1px;
  width: 100%;
  background: #1e1e1e;
  margin-bottom: 25px;
}

.trending-section .trending {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
