.navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

.logo a {
  font-family: "Roboto Condensed", serif;
  text-decoration: none;
  color: #ffffffde;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 800;
}

.col {
  color: cadetblue;
}

.nav__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
  font-size: 16px;
}

.nav__items li {
  list-style: none;
  cursor: pointer;
}

.nav__items li a {
  text-decoration: none;
  color: #fffffff2;
}

.search__box {
  width: 400px;
  display: grid;
}

.search__box > * {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.search__box input {
  font-size: 16px;
  width: 100%;
  background: #364153;
  border: transparent;
  outline: transparent;
  border-radius: 5px;
  padding: 10px 14px 10px 40px;
}

.search__box input::placeholder {
  color: #99a1af;
}

.search__box input:focus {
  background: #fff;
}

.search__box i {
  font-size: 18px;
  max-width: min-content;
  align-self: center;
  margin-left: 13px;
  color: #99a1af;
}

.menu__button {
  display: none;
}

.menu__button i {
  font-size: 24px;
}

.display {
  display: flex !important;
}

@media (max-width: 800px) {
  .menu__button {
    display: block;
  }

  .nav__items {
    z-index: 100;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px 10px 10px;
    background: #1e2939;
    display: none;
  }

  .search__box {
    width: 100%;
  }
}
