.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.trailer__frame {
  height: 450px;
  width: 800px;
  border-radius: 10px;
}

.overlay-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
  color: white;
  background-color: #ff0033;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 860px) {
  .trailer__frame {
    height: 320px;
    width: 600px;
    border-radius: 10px;
  }
}

@media (max-width: 630px) {
  .trailer__frame {
    height: 225px;
    width: 400px;
    border-radius: 10px;
  }
}

@media (max-width: 420px) {
  .trailer__frame {
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
}
